// most viewed products
.ced {
  margin-top: 50px;
}

// Gallery image in single product
.woo-variation-gallery-wrapper .woo-variation-gallery-trigger {
  top: 1.8em !important;
  left: 10px !important;
  box-shadow: 0 3px 9px #00000047;
}